@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */


}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0 auto;
  max-width: 1900px;
  width: 1920px;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  list-style: none;

 background: #FFFFFF 0% 0% no-repeat padding-box;
overflow-x: hidden;
}

.container{
  margin: 0 auto;
  width: 85%;
  max-width: 100%;
  
}
.flex{
  display: flex;
}
